name: CI Develop

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  develop:
    runs-on: ubuntu-latest
    env:
      SIGNING_ENABLED: "false"
      TESTAPP_TOKEN: ${{ secrets.TESTAPP_TOKEN }}
      TESTAPP_APP_ID: ${{ secrets.TESTAPP_APP_ID }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: Run CI develop (Fastlane)
        if: ${{ github.event_name == 'push' }}
        run: bundle exec fastlane android ci_develop

      - name: Run tests only on PR
        if: ${{ github.event_name == 'pull_request' }}
        run: bundle exec fastlane android unit_tests

      - name: Upload Debug APK
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk
